.card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
    z-index: 4;
  }

  &::after {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: absolute;
    border-radius: 2rem;
    top: 0;
    left: 0;
    backdrop-filter: brightness(1) blur(2px);
    z-index: 1;
  }

  .title {
    position: absolute;
    z-index: 2;
    margin: 0;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.2rem;
    color: var(--color-text-header);
    text-shadow: 0 2px 5px rgb(0, 0, 0, 1);
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    .title {
      text-shadow: 0 0 0 rgb(0, 0, 0, 0);
    }
    &::after {
      backdrop-filter: brightness(0.5) blur(2px);
    }
  }
}
