.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - (11.2rem + 9.2rem));
  gap: 1rem;
  .auth-title {
    text-align: center;
    line-height: 1;
    font-size: clamp(2rem, 5vw, 4rem);
    max-width: clamp(20rem, 40vw, 40rem);
    margin: 0;
  }
  .auth-link {
    font-size: 2rem;
    margin: 0;
    text-decoration: none;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    background-color: var(--color-accent);
    color: var(--color-text-header);
    padding: 1rem 4rem;
    border-radius: 1rem;
    text-align: center;
    &:hover {
      background-color: var(--color-accent-highlight);
    }
  }
}
