.container {
  max-width: calc(var(--container-size-desktop) / 2);
  margin: 10.3rem auto 0;
  padding: 1rem 1rem 9.2rem;
  min-height: 87.3vh;
  box-sizing: border-box;

  h2 {
    text-align: center;
    font-size: 5.2rem;
    margin: 0 0 1rem 0;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
}
