.container {
  max-width: var(--container-size-desktop);
  margin: 10.3rem auto 0;
  padding: 1rem 1rem 9.2rem;

  h2 {
    text-align: center;
    font-size: 5.2rem;
    margin: 0 0 1rem 0;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    justify-content: center;
  }
}
