.container {
  max-width: var(--container-size-desktop);
  margin: 11.2rem auto 0;
  padding: 0 1rem 9.2rem;
  min-height: calc(100vh - (11.2rem + 9.2rem));

  h2 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 5.2rem);
    margin: 0 0 1rem 0;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(50vw, 400px), 1fr));
    gap: 1rem;
    justify-content: center;
  }
}
