.container {
  max-width: var(--container-size-desktop);
  margin: 10.3rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title {
    font-size: 5rem;
    margin: 0;
  }

  .subtitle {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
  }

  .link {
    font-size: 2rem;
    margin: 0;
    text-decoration: none;
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
    background-color: var(--color-accent);
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    &:hover {
      background-color: var(--color-accent-highlight);
    }
  }
}
